altgraph==0.17.2
certifi==2021.10.8
charset-normalizer==2.0.10
ebmlite==3.2.1
endaq @ git+https://github.com/MideTechnology/endaq-python.git@0f31a2b15f2ce358512f07474a4612fa52bbce21
fire==0.4.0
future==0.18.2
idelib==3.2.3
idna==3.3
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.21.5
pandas==1.3.5
pefile==2021.9.3
plotly==5.5.0
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.5
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
pywin32-ctypes==0.2.0
requests==2.27.1
scipy==1.7.3
six==1.16.0
tenacity==8.0.1
termcolor==1.1.0
urllib3==1.26.8
